{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OTP Verification Form</title>
    <link rel="stylesheet" href="{% static 'css/otp.css' %}" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
   <script src="{% static 'js/otp.js' %}" defer></script>
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form method="POST">
        {% csrf_token %}

        <div class="input-field">
          <input type="number" name="otp1" />
          <input type="number" name="otp2" disabled />
          <input type="number" name="otp3" disabled />
          <input type="number" name="otp4" disabled />
          <input type="number" name="otp5" disabled />
          <input type="number" name="otp6" disabled />

        </div>

        <button type="submit" >Verify</button>

      </form>
    </div>
  </body>
</html>