{% extends 'main/old/base_old.html' %}


<title>{% block title %}Edit User{% endblock %}</title>

{% block content %}
 
<h1>Edit User: {{ user.username }}</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-group" style="display: none;">
        <label for="{{ form.user.id_for_label }}">Select User:</label>
        <!-- Display the username -->
        <input type="text" class="form-control" value="{{ user.username }}" readonly>
        <!-- Include the user ID in a hidden field -->
        <input type="hidden" name="{{ form.user.name }}" value="{{ user.pk }}">
    </div>
    
    <div class="form-group mb-3">
        <label>Select Apps:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {% for app in form.apps.field.queryset %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ form.apps.name }}" value="{{ app.pk }}"
                                {% if app in form.initial.apps.all %} checked{% endif %}>
                        <label class="form-check-label">{{ app.name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary mb-3" type="submit">Update Apps</button>
</form>

<a class="btn btn-primary mb-3" href="{% url 'add_app' %}" role="button">Add a New Application</a>

{% endblock %}
