{% extends 'main/generic/base_generic.html' %}
{% load static %}

<title>{% block title %}Dashboard{% endblock %}</title>
{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">User List</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Names</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Allowed Apps</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael</h6>
                            <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                        <p class="text-xs text-secondary mb-0">Organization</p>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr> -->
                    {% for user in users %}
                    <tr>
                        <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 ms-3 text-sm">{{ user.username }}</h6>
                          </div>
                        </td>
                        <td>
                            {% with user_profile=user.userprofile %}
                                {% if user_profile %}
                                    {% for app in user_profile.allowed_apps.all %}
                                        <img src="{{ app.icon.url }}" alt="{{ app.name }}" width="32" height="32">
                                        {{ app.name }}<br>
                                    {% endfor %}
                                {% else %}
                                    <p>No apps assigned</p>
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'edit_user' user.id %}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    {% endblock %}